body{
    width: 1150px;
    margin: 0 auto;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    margin-bottom: 130px;
}

header figure{
    display: grid;
    grid-template-columns: 30px auto;
    margin: 0;
}

header figure img{
    width: 30px;
    height: 30px;
}

header figure figcaption{
    color: #3E3F43;
    font-size: 24px;
    font-weight: normal;
    font-family: Nunito;
    margin-left: 10px;
}

header nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: #222222;
    font-family: Nunito;
    font-size: 16px;
}

header nav a.active{
    color: #DAA520;
    font-weight: bold;
}

header nav a.button{
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #3E3F43;
    border-radius: 8px;
    width: 137px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
section{
    height: 750px;
}
section#main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section#main div span{
    color: #222222;
    font-family: Nunito;
    font-size: 36px;
}

section#main div h1{
    color: #313235;
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
}


section#main div a{
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    width: 175px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #DAA520;
    line-height: 50px;
}
#rose{
    height: 800px;
    width: 370px;
    position: relative;
    bottom: 765px;
    left: 782px;
    background: #F9BDBD;
    border-bottom-left-radius: 100px;
}
#flowers2{
    position: relative;
    bottom: 350px;
    right: 50px;
}
header figure{
    position: relative;
    top: 15px;
}
header figure img{
    position: relative;
    top: 8px;
}
header figure figcaption{
    font-size: 36px;
    font-weight: bold;
}
#art1{
    height: 500px;
}
section#about{
    height: 600px;
}
section#about header{
    height: 80px;
    margin: 20px;
}
header #about_us {
    position: relative;
    left: 250px;
    width: 379px;
    height: 98px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
    color: rgba(34, 34, 34, 0.1);
    margin: 0;
}

header #hr1{
    width: 420px;
    height: 1px;
    position: relative;
    bottom: 65px;
    left: 250px;
    color: black;
    background: black;
}
section#about article{
    margin-top: 50px;
}
section#about article #yellow{
    position: absolute;
    width: 278px;
    height: 388px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background: #F7DEA6;
}
section#about article #woodies2{
    grid: initial; position: relative;
    left: 600px;   bottom: 250px;
    width: 450px;  height: 98px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
    margin: 0px;
}
section#about article #answer{
    position: relative;
    left: 600px;
    bottom: 240px;
    width: 448px;
    height: 66px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
} 
#flower2{
    position: relative;
    bottom: 260px;
    right: 200px;

}
#kalmar{
    position: relative;
    top: 50px;
}
#art2 header{
    grid: initial;
    position: relative;
    width: 648px;
    top: 25px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
}
#art2 p{
    position: relative;
    left: 25px;
    bottom: 15px;
}
#steel{
    position: relative;
    left: 860px;
    bottom: 250px;
}
#how{
    position: relative;
    top: 400px;
    height: 600px;
}
#custom{
    position: relative;
    width: 254px;
    height: 49px;
    left: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin: 0px;
    color: #3E3F43;
}
#hr2{
    position: relative;
    left: 200px;
    right: 800px;
    width: 120px;
    bottom: 65px;
    height: 1px;
    background: black;
}
#work{
    position: relative;
    margin: 0px;
    width: 579px;
    height: 98px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: right;
    left: 80px;
    color: rgba(34, 34, 34, 0.1);
}